@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4em;
}

:root body {
  background: white;
  @apply !font-serif;
}

:root nav {
  @apply font-bold;
}

:root nav>div {
  @apply lg:px-24 px-5 text-2xl;
}

:root section:not(hr) {
  @apply lg:px-24 px-5;
}

:root .leistung {
  @apply p-5 w-full mt-5 leading-normal font-normal text-xl;
}

:root .leistung .header {
  @apply font-bold text-3xl;
}

:root .leistung img {
  @apply object-cover mx-auto h-full;
}

:root #kontakt .input-row {
  @apply inline-flex w-full my-3;
}

:root #kontakt .input-row label {
  @apply sm:w-24 w-1/4;
}

:root #kontakt .input-row input,
textarea {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #676767;
  @apply sm:w-full sm:ml-0 ml-2 w-3/4;
}

:root footer {
  @apply bg-grey-200 text-white px-24 w-full;
}

:root footer div {
  font-weight: 400;
  font-size: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}