@tailwind base;
@tailwind components;
@tailwind utilities;

:root body {
  background: white;
  @apply !font-serif;
}

:root nav{
  @apply font-bold;
}

:root nav >div{
  @apply md:px-[100px] font-normal text-[24px] leading-[29px] font-[700];
}

:root section {
  @apply md:px-[100px]
}

:root .leistung {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  @apply p-5 w-full mt-5 leading-normal;
}

:root .leistung .header {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

:root b {
  @apply font-bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

